<?php
/**
 * @link      https://gitlab.com/nx-2/front
 * @copyright Copyright © 2017, 2018, 2022 Dimeo Ltd. under the terms of the GNU GPL, Version 3.0 (https://www.dimeo.ru/)
 * @license   https://gitlab.com/nx-2/front/-/blob/master/LICENSE.md
 * @author    A. Shchepetov
 */
?>

<table width="600" border="1" cellpadding="3" cellspacing="0" style="width:600px;">
    <tr align="center" valign="top" style="text-align: center;">
        <td>№</td>
        <td>Наименование товара</td>
        <td>Количество</td>
        <td>Цена</td>
        <td>Сумма</td>
    </tr>

    <?php foreach($items as $i=>$item) { ?>
    <tr align="center" valign="top" style="text-align: center;">
        <td>
            <?=($i+1)?>
        </td>
        <td align="left" style="text-align: left;">
            <?=$item['name']?>
        </td>
        <td >
            <?=$item['quantity']?>
        </td>
        <td align="right" style="text-align: right;">
            <?=$item['price']?>
        </td>
        <td align="right" style="text-align: right;">
            <?=$item['value']?>
        </td>
    </tr> 
    <?php } ?>


    <tr valign="top" colspan="2">
        <td colspan="2" align="right" style="text-align: right;">
            Итого:
        </td>
        <td colspan="4">
            <?=$subscription->price?> руб.
            (<?=\nx\functions\getRoubleSumInWords($subscription->price)?>)
        </td>
    </tr>
</table>