<?php
/**
 * @link      https://gitlab.com/nx-2/front
 * @copyright Copyright © 2017, 2018, 2022 Dimeo Ltd. under the terms of the GNU GPL, Version 3.0 (https://www.dimeo.ru/)
 * @license   https://gitlab.com/nx-2/front/-/blob/master/LICENSE.md
 * @author    A. Shchepetov
 */
?>
<?php
$response = [
   'success'        => True, 
   'data'           => [], 
   'systemMessage'  => [
       'title'      => 'Панель заказов :: Ошибка.',
       //'message'    => '<strong>' . $this->exception->getMessage() . '</strong><br/><br/><a href="" onclick="console.log(Ext.get(this).next().show()); return false;">подробнее</a><div style="visibility: hidden;">' . $this->exception->__toString().'</div>',//getMessage(),
       'message'    => '<strong>' . $this->exception->getMessage() . '</strong><br/><br/>' . $this->exception->__toString().'',//getMessage(),
       'icon'       => 'error'
   ]
];
if($this->layout()->e->getRequest()->isXmlHttpRequest())
{
	echo json_encode($response);
}
else
{
	/*$isDeveloper = 0;
	try
	{
        $perm = $this->layout()->e->getApplication()->getServiceManager()->get('nx\Perm');
        $isDeveloper = $perm->hasRole(User::ROLE_DEVELOPER);
	}
	catch(\Exception $e){}
	if($isDeveloper) 
	{
		var_dump($response);
	}
	else
	{*/
		?>
		<div style="display: none;">
			<?php print_r($response); ?>
		</div>
		<div style="position: absolute; width: 300; height:50px; top: 50%; left:50%; margin-left:-150px; margin-top:-40px;">
			<h2>NX временно недоступен.</h2>
		</div>
		<?php
	//}
}
exit;
