/**
* @link      https://gitlab.com/nx-2/front
* @copyright Copyright © 2017, 2018, 2022 Dimeo Ltd. under the terms of the GNU GPL, Version 3.0 (https://www.dimeo.ru/)
* @license   https://gitlab.com/nx-2/front/-/blob/master/LICENSE.md
*/

.organizations-ico { background-image: url(/images/extjs/icons/organizations.png) !important; background-repeat: no-repeat; }
.persons-ico { background-image: url(/images/extjs/icons/users.png) !important; background-repeat: no-repeat; }
.settings-ico { background-image: url(/images/extjs/icons/settings.png) !important; background-repeat: no-repeat; }
.users-ico { background-image: url(/images/extjs/icons/users.png) !important; background-repeat: no-repeat; }
.add-ico { background-image: url(/images/extjs/icons/add.png) !important; background-repeat: no-repeat; }
.delete-ico { background-image: url(/images/extjs/icons/delete.png) !important; background-repeat: no-repeat; }
.edit-ico { width: 16px; background-image: url(/images/extjs/icons/edit.png) !important; background-repeat: no-repeat; }
.logout-ico { background-image: url(/images/extjs/icons/logout.png) !important; background-repeat: no-repeat; }
.subscription-ico { background-image: url(/images/extjs/icons/subscription.png) !important; background-repeat: no-repeat; }
.clear-ico { background-image: url(/images/extjs/icons/clear.png) !important; background-repeat: no-repeat; }
.subscription-site-ico { background-image: url(/images/extjs/icons/subscription-site.png) !important; background-repeat: no-repeat; }
.subscription-pdf-ico { background-image: url(/images/extjs/icons/subscription-pdf.png) !important; background-repeat: no-repeat; }
.subscription-pdflog-ico { background-image: url(/images/extjs/icons/subscription-pdflog.png) !important; background-repeat: no-repeat; }
.subscription-pdflogbyissue-ico { background-image: url(/images/extjs/icons/subscription-pdflogbyissue.png) !important; background-repeat: no-repeat; }
.subscription-remind-ico { background-image: url(/images/extjs/icons/subscription-remind.png) !important; background-repeat: no-repeat; }
.subscription-xpress-ico { background-image: url(/images/extjs/icons/subscription-xpress.gif) !important; background-repeat: no-repeat; }
.subscription-items-ico { background-image: url(/images/extjs/icons/subscription-items.png) !important; background-repeat: no-repeat; }
.log-ico { background-image: url(/images/extjs/icons/log.png) !important; background-repeat: no-repeat; }
.role-ico { background-image: url(/images/extjs/icons/role.png) !important; background-repeat: no-repeat; }
.transaction-ico { background-image: url(/images/extjs/icons/transaction.png) !important; background-repeat: no-repeat; }
.order-ico { background-image: url(/images/extjs/icons/order.png) !important; background-repeat: no-repeat; }
.search-ico { background-image: url(/images/extjs/icons/search.png) !important; background-repeat: no-repeat; }
.user-go-ico { width: 16px; background-image: url(/images/extjs/icons/user-go.png) !important; background-repeat: no-repeat; }
.export-csv-ico { width: 16px; background-image: url(/images/extjs/icons/export-csv.png) !important; background-repeat: no-repeat; }
.xpress-import-ico { width: 16px; background-image: url(/images/extjs/icons/xpress-import.png) !important; background-repeat: no-repeat; }
.watch-ico { background-image: url(/images/extjs/icons/watch.png) !important; background-repeat: no-repeat; }
.maillog-ico  { background-image: url(/images/extjs/icons/maillog.gif) !important; background-repeat: no-repeat; }
.ship-ico  { background-image: url(/images/extjs/icons/shipment.png) !important; background-repeat: no-repeat; }
.payment-ico { background-image: url(/images/extjs/icons/payments.gif) !important; background-repeat: no-repeat; }
.refresh-ico { background-image: url(/images/extjs/icons/refresh.png) !important; background-repeat: no-repeat; }
.filter-ico { background-image: url(/images/extjs/icons/filter.png) !important; background-repeat: no-repeat; }
.tag-ico { background-image: url(/images/extjs/icons/tag.png) !important; background-repeat: no-repeat; }
.info-ico { background-image: url(/images/extjs/icons/icon-info.png) !important; background-repeat: no-repeat; }


td.nx-multiline .x-grid-cell-inner {
    white-space: normal;
}

/*.nx-menu-title .x-btn-group-header-text-default-framed {
	font: bold 13px Arial !important;
}*/

tr.nx-row-active td {
	background-color: #ccc !important;
}

tr.subscription-row-orgpdf td {
	background-color: #507AAA !important;
}

tr.subscription-row-payed td {
	background-color: #ccc !important;
}

tr.transaction-row-payed td {
	background-color: #ccc !important;
}

tr.subscription-row-disabled td {
	/*opacity: 0.5 !important;*/
	color: #aaa !important;
}

tr.nx-row-disabled td {
	color: #aaa !important;
}

tr.ship-row-partial td {
	color: #DE8686 !important; border-color: #DE8686;
}

tr.ship-row-has-duplicate td {
	color: white !important;
	background: #f77979!important;
}

tr.nx-success-row td {
	color: #6DC975 !important;
}

tr.nx-fail-row td {
	color: #DE8686 !important;
}

tr.nx-row-warn td {
	color: #D49400 !important;
}

.transaction-shop {
	color: #00c;
}

img.subscription-disabled {
	opacity: 0.3;
}

img.nx-disabled {
	opacity: 0.3;
}

.nx-transparent {
	opacity: 0.4;
}

.x-tree-noicon .x-tree-icon-leaf {
	display: none !important;
}

/* <filter menu> */
.ux-rangemenu-icon {
    margin-top: 0;
}
.ux-rangemenu-gt {
    background-image: url(../images/greater_than.png) !important;
}
.ux-rangemenu-lt {
    background-image: url(../images/less_than.png) !important;
}
.ux-rangemenu-eq {
    background-image: url(../images/equals.png) !important;
}

div.nx-subscription-ship-sended{
	color: #77B625;
}

.nx-menu-buttongroup .x-btn-group-header-text-default-framed {
	font-size: 12px;
}

#NXContentPanel .x-action-col-icon {
	margin-left: 1px;
}

.no-icon-menu .x-menu-item-link {padding-left:5px;}