<?php
/**
 * @link      https://gitlab.com/nx-2/front
 * @copyright Copyright © 2017, 2018, 2022 Dimeo Ltd. under the terms of the GNU GPL, Version 3.0 (https://www.dimeo.ru/)
 * @license   https://gitlab.com/nx-2/front/-/blob/master/LICENSE.md
 * @author    A. Shchepetov
 */
?>
<?php echo $this->doctype(); ?>
<html>
<head>
    <title>Панель заказов</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
 
    <link rel="stylesheet" type="text/css" href="/js/extjs/resources/css/ext-all-gray.css" />
    <link rel="stylesheet" type="text/css" href="/css/nx_interface.css?v=<?=filemtime('public/css/nx_interface.css')?>" />
    <link rel="stylesheet" type="text/css" href="/js/index/plugins/boxselect/BoxSelect.css" />
</head>
<body>
<form method="get" action="" class="x-hidden" target="_blank" id="fakeForm"><input type='hidden' name='data' value='' /><input type='hidden' name='filename' value='' /></form>
<?php echo $this->content; ?>
</body>
</html>