<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<?php
/**
 * @link      https://gitlab.com/nx-2/front
 * @copyright Copyright © 2017, 2018, 2022 Dimeo Ltd. under the terms of the GNU GPL, Version 3.0 (https://www.dimeo.ru/)
 * @license   https://gitlab.com/nx-2/front/-/blob/master/LICENSE.md
 * @author    A. Shchepetov
 */
?>
<html>
    <head>
        <title>Панель заказов :: Вход</title>
        <?php echo $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico']); ?>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--script type="text/javascript" charset="utf-8" src="/osp_moduls/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/sites/osp/js/jquery-ui-1.9.0.custom/js/jquery-ui-1.9.0.custom.min.js"></script>
        <script type="text/javascript" src='/sites/osp/js/ajaxRecoverForm.js'></script-->
        <script type='text/javascript'>
        /*$('document').ready(function(){
            $('.restore span').click(function(){
                showAjaxRecoverForm();
            });
        });*/
        </script>
        <style>
            body {
                font-family: sans-serif;
                color      : #444;
                font-size  : 13px;
            }
            #loginPanel input {
                width : 270px;
            }
            #loginPanel {
                position      : absolute;
                top           : 25%;
                left          : 35%;
                width         : 380px;
                height        : 250px;
                border        : 1px solid #ccc;
                border-radius : 3px;
                background    : rgba(0,0,0,0.1);
                box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
            }
            .restore span{border-bottom:1px dashed; cursor:pointer; font-size:14px;}
            .restore span:hover{border-bottom:0px;}
            #loginPanel table {
                font-size  : 12px;
            }
            #loginPanel #head {
                margin : 3px;
            }
            #form {
                padding: 15px;
                background: white;
            }
            #message-place {
                padding: 15px;
            }
            #head {
                text-align: center;
                padding: 15px;
                font-size: 20px;
            }
            #head > img {
                max-height: 40px;
                display: block;
                float: left;
            }
        </style>
    </head>
    <body>
        <div id="loginPanel">
            <div id="head">
                <img src="/images/logo/dimeo_logo.png" style="max-height: 40px;display: block; margin: 0px auto">
                Димео.Подписка <br/> Панель заказов
            </div>
            <div id="form">
                <form action="/login" method="POST" id="loginForm">
                    <input type="hidden" name="request_target" id="request_target" value="" />
                    <table width="100%">
                        <tr>
                            <td>Имя:</td>
                            <td align="right"><input name="login" value="" id="lform_login"></td>
                        </tr>
                        <tr>
                            <td>Пароль:</td>
                            <td align="right"><input type="password" name="password" id="lform_password"></td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2"><input type="submit" value="Вход"></td>
                        </tr>
                    </table>
                </form>
                <?php //echo $login_form;?>
            </div>
            <div id="message-place">
                <?php echo $message;?>
            </div>
        </div>
        <script>
            window.onload = function() 
            {
                document.getElementById('lform_login').focus();
                document.getElementById('request_target').value = window.location.hash;
            }
        </script>
    </body>
</html>
