<?php
/**
 * @link      https://gitlab.com/nx-2/front
 * @copyright Copyright © 2017, 2018, 2022 Dimeo Ltd. under the terms of the GNU GPL, Version 3.0 (https://www.dimeo.ru/)
 * @license   https://gitlab.com/nx-2/front/-/blob/master/LICENSE.md
 * @author    A. Shchepetov
 */
?>
<?php
use nx\Model\User;
$user_session = new \Zend\Session\Container('user');
$user_name    = !empty($user_session->user['login']) ? $user_session->user['login'] : '';
$perm         = $sm->get('nx\Perm');
$configs      = $sm->get('config');
$isAdmin      = $perm->hasRole(User::ROLE_ADMIN);

$viewStateModel = $sm->get('nx\Model\ViewState');
$subscription_states = $viewStateModel->getViewStates(['create_user_id' => $user_session->user_id, 'viewid' => 'nx_subscription_list']);


$subscriptionModel    = $sm->get('nx\Model\Subscription');
$subscribeOrderStates = $subscriptionModel->getOrderStates();
$orderStates = ['[0, " - "]'];
foreach($subscribeOrderStates as $orderState) {
	$orderStates[] = '["' . $orderState['id'] . '", "' . $orderState['name'] . '"]';
}


$subscribleMagazines = $subscriptionModel->getSubscribleMagazines();
$subscribleMagazinesStore = [];//'[0, " - "]');
foreach($subscribleMagazines as $magazine) {
	$subscribleMagazinesStore[] = '["' . $magazine['Message_ID'] . '", "' . $magazine['EnglishName'] . '"]';
}

$magazines = $subscriptionModel->getSubscribleMagazines(['add_ids' => [2,17]]);
$magazines_store = [];
foreach($magazines as $magazine) {
    $magazines_store[] = '["' . $magazine['Message_ID'] . '", "' . $magazine['EnglishName'] . '"]';
}

$payment_types = $subscriptionModel->getPaymentTypes();
$payment_types_store = [];
foreach($payment_types as $payment_type) {
	$payment_types_store[] = '["' . $payment_type['id'] . '", "' . $payment_type['name'] . '"]';
}

$delivery_types = $subscriptionModel->getDeliveryTypes();
$delivery_types_store = ['[0, " - "]'];
foreach($delivery_types as $delivery_type) {
	$delivery_types_store[] = '["' . $delivery_type['id'] . '", "' . $delivery_type['name'] . '"]';
}
$delivery_types_store2 = array_slice($delivery_types_store,1);


$countries = $subscriptionModel->getCountries();
$countries_store = [];
foreach($countries as $country) {
	$countries_store[] = '["' . $country['id'] . '", "' . $country['name'] . '"]';
}


$roleModel = $sm->get('nx\Model\Role');
$roles = $roleModel->getList();
foreach($roles['items'] as $role) {
    $roles_store[] = '["' . $role->id . '", "' . $role->name . '"]';
}


$payment_agents = $subscriptionModel->getPaymentAgents();
$payment_agents_store = [];
foreach($payment_agents as $payment_agent) {
    $payment_agents_store[] = '["' . $payment_agent['id'] . '", "' . $payment_agent['name'] . '"]';
}


$userModel = $sm->get('nx\Model\User');
$managers  = $userModel->getUsers(['role_code' => User::ROLE_SUBSCRIBE_MANAGER]);
$managers_store = [];
foreach($managers as $manager) {
    //$managers_store[] = '["' . $manager->id . '", "' . $manager->full_name . '"]';
    $managers_store[] = '{ "id" : "' . $manager->id . '", "name" : "' . $manager->full_name . '", "email" : "' . $manager->email . '" }';
}


$ship_channels = $subscriptionModel->itemReleaseModel->getShipChannels();
$ship_channels_store = [];
foreach($ship_channels as $ship_channel) {
    $ship_channels_store[] = '["' . $ship_channel['id'] . '", "' . $ship_channel['name'] . '"]';
}
?>

<!--script type="text/javascript" src="/js/index/app/store/user.js"></script>
<script type="text/javascript" src="/js/index/app/model/user.js"></script>
<script type="text/javascript" src="/js/index/app/controller/base.js"></script>
<script type="text/javascript" src="/js/index/app/controller/user.js"></script>
<script type="text/javascript" src="/js/index/app/view/user/index.js"></script-->


<script type="text/javascript">
var nx_config = {};
nx_config.services = {paydoc : {url : 'https://www.osp.ru/subscribe/paydoc/'}};
nx_config.perm = { username: '<?=$user_name?>' };
nx_config.user = <?=json_encode($user_session->user)?>;
<?php
foreach($roles['items'] as $role) {?>
    nx_config.perm.is_<?=$role->code?> = <?=($perm->hasRole($role->code) ? 1 : 0)?>;
<?php
}
?>
var topMenu = [];
var leftMenu = [];
<?php if($isAdmin) { ?>
topMenu.push(
    {
        text: '<b style="font-size: 12px">Панель заказов</b>',
    },
    {
        text    : 'Администрирование',
        iconCls : 'settings-ico',
        ///enableToggle : true,
        defaults : {
            hrefTarget : "_self"
        },
        menu    : [
//            {
//                text       : 'Пользователи',
//                iconCls    : 'users-ico',
//                href       : '/#user/index'
//            },
            <?php if($perm->hasRole(User::ROLE_DEVELOPER)) { ?>,
//            {
//                text       : 'Роли',
//                iconCls    : 'role-ico',
//                href       : '/#role/index'
//            },
            <?php } ?>
            {
                text       : 'Логирование',
                iconCls    : 'log-ico',
                href       : '/#log/index'
            },
            {
                text       : 'Email лог',
                iconCls    : 'maillog-ico',
                href       : '/#maillog/index'
            },
            <?php if($isAdmin) { ?>
//            {
//                text : 'Графики',
//                icon : '/images/extjs/icons/chart_line.png',
//                href : '/#chart/index'
//            }
            <?php } ?>
        ]
    }
);
<?php } ?>
topMenu.push(
    '->',
    {
        text    : 'Перейти в Панель издателя',
        iconCls : 'settings-ico',
        handler : function() {
            window.location = '<?php echo($configs['nx']['adminUrl']); ?>';
        }
    },
    <?php if($isAdmin) { ?>
    {
        xtype: 'notification_handler'
    },
    '-',
    <?php } ?>
    {text: '<b>' + '<?=$user_name?>' + '</b>'},
    '-',
    {
        text    : 'Выход',
        iconCls : 'logout-ico',
        handler : function() {
            Ext.MessageBox.confirm('Выход', 'Выйти из системы?', function(btn) {
                if(btn == 'yes') {
                    window.location = '/login/logout';
                }
            });
        }
    },
);

leftMenu.push(
//    {
//        text       : "Физ. лица",
//        leaf       : true,
//        iconCls    : 'persons-ico',
//        textAlign  : 'left',
//        //controller : 'person', //nx not extjs property
//        //scope      : this,
//        href       : '/#person/index',
//        hrefTarget : "_self"
//        /*handler    : function() {
//            //window.location.hash = 'person/index';
//            nxApp.initComponent('person/index');
//        } */
//    },
//    {
//        text       : "Компании",
//        leaf       : true,
//        iconCls    : 'organizations-ico',
//        textAlign  : 'left',
//        href       : '/#company/index',
//        hrefTarget : "_self"
//    },
    '-',
    {
        xtype: 'buttongroup',
        title: 'Подписки',
        titleAlign: 'left',
        //titleCollapse: true,
        hideCollapseTool: true,
        cls: 'nx-menu-buttongroup',
        columns:1,
        defaults: {
            width:125,
            textAlign: 'left',
            hrefTarget : "_self"
        },
        //cls: 'nx-menu-title',
        //style: 'font-size: 20px !important;',
        collapsible: true,
        items: [
            {
                text    : "Все заказы",
                leaf    : true,
                iconCls : 'subscription-ico',
                href    : '/#subscription/index'
            },
            {
                text    : "Заказы с сайта",
                leaf    : true,
                iconCls : 'subscription-site-ico',
                href    : '/#subscription/index/by/site'
            },
            // {
            //     text    : "PDF оплач.",
            //     leaf    : true,
            //     iconCls : 'subscription-pdf-ico',
            //     href    : '/#subscription/index/by/pdf'
            // },
            <?php
            if(!empty($subscription_states && false)) {
                ?>
                {
                    text : "Мои фильтры",
                    leaf : true,
                    icon : '/images/extjs/icons/template.png',
                    menu : {
                        showSeparator : false,
                        cls           : 'no-icon-menu',
                        items         : [
                            <?php
                            foreach($subscription_states as $state) {
                                ?>
                                {
                                    text : '<?=$state->name?>',
                                    leaf : true,
                                    icon : false,
                                    //icon : '/images/extjs/icons/bullet_black.png',
                                    href : '/#subscription/index/state/<?=$state->id?>'
                                },
                                <?php
                            }
                            ?>
                        ]
                    }
                },
                <?php
            } ?>
            // {
            //     text    : "Лог отправки pdf",
            //     leaf    : true,
            //     iconCls : 'subscription-pdflog-ico',
            //     href    : '/#subscription/pdflog'
            // },
            // {
            //     text    : 'Плановые отгрузки',
            //     leaf    : true,
            //     iconCls : 'ship-ico',
            //     href    : '/#subscription/shipcounts'
            // },
        ]
    },
    '-',
    {
        xtype: 'buttongroup',
        title: 'Отгрузки',
        titleAlign: 'left',
        //titleCollapse: true,
        hideCollapseTool: true,
        cls: 'nx-menu-buttongroup',
        columns:1,
        defaults: {
            width:125,
            textAlign: 'left',
            hrefTarget : "_self"
        },
        //cls: 'nx-menu-title',
        //style: 'font-size: 20px !important;',
        collapsible: true,
        items: [
            {
                text    : "Лог отправки pdf",
                leaf    : true,
                iconCls : 'subscription-pdflog-ico',
                href    : '/#subscription/pdflog'
            },
            {
                text    : 'Плановые отгрузки',
                leaf    : true,
                iconCls : 'ship-ico',
                href    : '/#subscription/shipcounts'
            },
        ]
    },
    '-',
    {
        text       : "Продажи журналов",
        leaf       : true,
        iconCls    : 'order-ico',
        href       : '/#order/index',
        hrefTarget : "_self"
    }
);

<?php if($isAdmin || $perm->hasRole(User::ROLE_ACCOUNTANT) || $perm->hasRole(User::ROLE_SUBSCRIBE_MANAGER) || $perm->hasRole(User::ROLE_PUBLISHER)) { ?>
leftMenu.push(
    '-',
    {
        text       : 'Транзакции',
        iconCls    : 'transaction-ico',
        textAlign  : 'left',
        href       : '/#transaction/index',
        hrefTarget : "_self"
    }
);
<?php } ?>

<?php if($isAdmin || $perm->hasRole(User::ROLE_ACCOUNTANT) || $perm->hasRole(User::ROLE_PUBLISHER)) { ?>
leftMenu.push(
   '-',
   {
       xtype: 'buttongroup',
       //icon: '/images/extjs/icons/payments.gif',
       title: '1C',
       titleAlign: 'left',
       hideCollapseTool: true,
       cls: 'nx-menu-buttongroup',
       columns:1,
       defaults: {
           width      :125,
           textAlign  : 'left',
           hrefTarget : "_self"
       },
       collapsible: true,
       items: [
           {
               text       : "Платежи банк",
               leaf       : true,
               textAlign  : 'left',
               href       : '/#payment/order',
               hrefTarget : "_self",
           },
           {
               text       : "Платежи онлайн",
               leaf       : true,
               textAlign  : 'left',
               href       : '/#payment/transaction',
               hrefTarget : "_self",
           },
            <?php if($isAdmin) { ?>
           {
               text  : 'Организации',
               scope : this,
               href  : '#company/ws1c',
               //hidden  : !nx.app.isperm('admin')
           }
            <?php } ?>
       ]
   }
);
<?php } ?>

<?php if($isAdmin && false) { ?>
leftMenu.push(
    '-',
    {
        text       : 'Теги',
        iconCls    : 'tag-ico',
        textAlign  : 'left',
        href       : '/#tag/index',
        hrefTarget : "_self"
    }
);
<?php } ?>

leftMenu.push(
    '->',
    {
        text       : 'О Программе',
        iconCls    : 'info-ico',
        textAlign  : 'left',
        handler    : function (item) {
            var msg = 'ПО «Димео.Подписка» автоматизирует процессы редакционной подписки. Разработано ООО «Димео», 2017, 2018, 2022 (<a target="_blank" href="https://dimeo.ru/dimeo-podpiska.html">dimeo.ru/dimeo-podpiska.html</a>)'
            msg += '<br><br>Dimeo.Podpiska software automates editorial subscription processes. Developed by Dimeo LLC, 2017, 2018, 2022 (<a target="_blank" href="https://dimeo.ru/dimeo-podpiska.html">dimeo.ru/dimeo-podpiska.html</a>)';
            var icon = Ext.Msg.INFO;
            Ext.Msg.show({title: 'О Программе', msg: msg, icon: icon, buttons: Ext.Msg.OK});
        }
    }
);


// Статусы заказов подписок
var orderStatesStore  = [
    <?php echo implode(", ", $orderStates) . "\n"?>
];

var subscribleMagazinesStore  = [
    <?php echo implode(", ", $subscribleMagazinesStore) . "\n"?>
];

var magazines_store  = [
    <?php echo implode(", ", $magazines_store) . "\n"?>
];

var payment_types_store  = [
    <?php echo implode(", ", $payment_types_store) . "\n"?>
];

var delivery_types_store  = [
    <?php echo implode(", ", $delivery_types_store) . "\n"?>
];

var delivery_types_store2  = [
    <?php echo implode(", ", $delivery_types_store2) . "\n"?>
];

var countries_store  = [
    <?php echo implode(", ", $countries_store) . "\n"?>
];

var roles_store  = [
    <?php echo implode(", ", $roles_store) . "\n"?>
];


var subscription_type_store = [
    ['-1', 'рассылка'],
    ['0', 'платная'],
    ['1', 'призовая'],
    ['2', 'агентства']
];
var order_type_store = subscription_type_store;

var subscriber_type_store = [
    ['1','физ. лицо'],
    ['2','юр. лицо']
];

/*var subscription_type_store2 = [
    ['pdf','pdf'],
    ['paper','paper']
];*/

var ship_channels_store = [
    <?php echo implode(", ", $ship_channels_store) . "\n"?>
]

var payment_agents_store  = [
    <?php echo implode(", ", $payment_agents_store) . "\n"?>
];

var managers_data  = [{"id" : '0', "name" : 'не указан', "email" : ''},//[['0','не указан'],
    <?php echo implode(", ", $managers_store) . "\n"?>
];

var prolong_state_store = [['-1','не продлено'],['0','0'], ['1', 'не оплачено'], ['2', 'продлено']];

</script>

<script type="text/javascript" src="/js/extjs/ext-all.js"></script>
<script type="text/javascript" src="/js/extjs/locale/ext-lang-ru.js"></script>
<script type="text/javascript" src="/js/index/plugins/GridHeaderFilters.js"></script>
<script type="text/javascript" src="/js/index/base.js"></script>
<script type="text/javascript" src="/js/index/app.js"></script>
<!--script type="text/javascript" src="/min?g=nxjs"></script-->

<!--script type="text/javascript" src="/js/build/all-classes.js"></script>
<script type="text/javascript" src="/js/extjs/locale/ext-lang-ru.js"></script-->
