<?php
/**
 * @link      https://gitlab.com/nx-2/front
 * @copyright Copyright © 2017, 2018, 2022 Dimeo Ltd. under the terms of the GNU GPL, Version 3.0 (https://www.dimeo.ru/)
 * @license   https://gitlab.com/nx-2/front/-/blob/master/LICENSE.md
 * @author    A. Shchepetov
 */
?>
<?php
use nx\Model\User;
$user_session = new \Zend\Session\Container('user');
$user_name    = !empty($user_session->user['login']) ? $user_session->user['login'] : '';
$perm         = $sm->get('nx\Perm');
$isAdmin      = $perm->hasRole(User::ROLE_ADMIN);
$labels = [
    'enabled' => 'выкл',    
    'time'          => 'Дата',
    'last_name'     => 'Фамилия',
    'name'          => 'Имя',
    // 'sur_name'      => 'Отчество',
    'email'         => 'Email',
    'phone'         => 'тел.',
    'region'        => 'Обл.',
    'district'      => 'Район',
    'town'          => 'Город',
    'street'        => 'Улица',
    'house_number'  => 'Дом',
    'building'      => 'Корпус',
    'appartment'    => 'Кв.',
    'post_code'     => 'Индекс',
    'age'           => 'Возраст',
    'gender'        => 'Пол',
    'ip'            => 'IP',
    'browser'       => 'Браузер',
    'os'            => 'Опер. сист.',
    'device'        => 'Устр-во',
    'url'           => 'URL',
    'page_description' => 'Описание страницы',
];
?>
    <?php //echo($isAdmin); ?>
    <?php //print_r($records); ?>

<div class='container'>
    <div class='row'>
            <div class='span6 offset6' style='margin-bottom:20px'>
                <a href="/uncomplete-filling" class='btn btn-success pull-right'>Только непомеченные</a>
                <a href="?all=yes" class='btn btn-success pull-right' style='margin-right: 20px'>Показать все записи</a>
            </div>
    </div> 
</div>
<div class='row'>
    <?php if(!empty($user_name)): //&& $isAdmin ?>
        <div class='span12'>
            <table class='table table-condensed table-bordered table-hover'>
                <thead>
                    <tr>
                        <?php foreach($labels as $l): ?>
                        <td style='background-color: #dff0d8;vertical-align: middle;text-align: center;'>
                            <?=$l; ?>
                        </td>
                        <?php endforeach; ?>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($records as $record): ?>
                        <tr data-id='<?=$record["id"] ?>' <?php if($record['enabled'] == 0): ?> class='warning' <?php endif; ?>>
                            <?php foreach($record as $fieldName => $field): ?> 
                                <?php switch ($fieldName):case 'id': ?>
                                    <!-- не выводить ничего -->
                                    <?php break; ?>
                                <?php case 'enabled': ?>
                                    <td style='text-align:center;vertical-align:middle'>
                                        <input type='checkbox' <?php if($field == '0'): ?>checked<?php endif; ?> class='disableRow'>
                                    </td>
                                    <?php break; ?>
                                <?php case 'time': ?>
                                    <td style='text-align:center;vertical-align:middle'>
                                        <?=date('d-m-y (H:i:s)', strtotime($field)); ?>
                                    </td>
                                <?php break; ?>
                                <?php default; ?>
                                    <td style='text-align:center;vertical-align:middle'>
                                        <?=$field; ?>
                                    </td>
                                <?php endswitch; ?>
                            <?php endforeach; ?>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else: ?>
        <div class='span12'>
            Необходимо аторизоваться с правами администратора.
        </div>
    <?php endif; ?>
</div> 
<script type="text/javascript">
    $(document).ready(function(){
        $('.disableRow').click(function(event){
            var me = $(this);
            var id = me.closest('tr').data('id');
            var value = me.prop('checked') ? 0 : 1;
            // me.prop('checked', value);
            console.log(id);
            console.log(value);
            $.ajax({
                type : 'post',
                dataType : 'json',
                data : {id : id, enabled : value, ajax : 1},
                url : '/uncomplete-filling'
            })
            .done(
                function(response){
                    if(response.status == 'OK'){
                        if(value == 0)
                            me.closest('tr').addClass('warning');
                        else
                            me.closest('tr').removeClass('warning');
                    }else{
                        me.prop('checked', value);
                    }
            })
            .fail(
                function(a,b,c){
                    console.log(a);
                    console.log(b);
                    console.log(c);
            })
        })
    })

</script> 
